In [1]:
import unicodedata
import re
import json

import nltk
from nltk.tokenize.toktok import ToktokTokenizer
from nltk.corpus import stopwords

import pandas as pd
from time import strftime

import acquire

import warnings
warnings.filterwarnings('ignore')

The end result of this exercise should be a file named prepare.py that defines the requested functions.

In this exercise we will be defining some functions to prepare textual data. These functions should apply equally well to both 
- the codeup blog articles 
- and the news articles that were previously acquired.

In [2]:
codeup_df = acquire.get_blog_articles(acquire.urls)
codeup_df.head()

,title,published,contents
0,Codeup Start Dates for March 2022,"Jan 26, 2022",\nAs we approach the end of January we wanted ...
1,5 Books Every Woman In Tech Should Read,"Mar 8, 2022",\nOn this International Women’s Day 2022 we wa...
2,Dallas Campus Re-opens With New Grant Partner,"Dec 30, 2021",\n\n\n\n\n\nWe are happy to announce that our ...
3,Codeup’s Placement Team Continues Setting Records,"Nov 19, 2021",\n\n\n\n\n\nOur Placement Team is simply defin...
4,"IT Certifications 101: Why They Matter, and Wh...","Nov 18, 2021","\n\n\n\n\n\nAWS, Google, Azure, Red Hat, CompT..."

# PREPARE

### 1. Clean 
Define a function named basic_clean. It should take in a string and apply some basic text cleaning to it:

- Lowercase everything
- Normalize unicode characters
- Replace anything that is not a letter, number, whitespace or a single quote.

In [3]:
def basic_clean(string):
    '''
    This function takes in a string, applies basic text cleaning to it,
    then returns normalized text, making all text lowercase, normalizing unicode characters,
    and replacing anything that is not a letter, number, whitespace, or a single quote.
    '''
    # removes accented characters; removes inconsistencies in unicode, converts resulting string to ASCII character, while ignoring warnings, and decodes to turn resulting bytes back into string. 
    string = unicodedata.normalize('NFKD', string)\
             .encode('ascii', 'ignore')\
             .decode('utf-8', 'ignore')
    # # removes special characters, substituting anything that is NOT a letter, number, apostrophe, or whitespace, then makes text lowercase
    string = re.sub(r"[^a-z0-9'\s]", '', string).lower()
    return string

In [4]:
test = codeup_df.contents[0]
test

'\nAs we approach the end of January we wanted to look forward to our next start dates for all of our current programs.\nFull Stack Web Development – 3/7/22\nFull Stack Web Development is the first program we built and also our most popular. You’ve asked and we listened! Our next Web Development cohort will start on 3/7/2022 and is ENTIRELY VIRTUAL! THESE SEATS WILL GO FAST!\nAs one of the most in-demand jobs in the country, software and web development is the tech career with the newest jobs. In the U.S., there’s:\n\n1.5 million developer jobs*\n250,000 of them remain open\na high growth rate of 13%*\n\n\xa0\nData Science – 3/22/22\nOur first new Data Science class of 2022 starts Monday 3/22/2022 at our downtown campus at the Vogue building.\nWhy consider pivoting careers to Data Science?\n\n#1 job in America from 2016-2020 (Glassdoor*)\n650% increase in data science positions since 2012\nNearly 12 million new jobs between 2019 and 2029\n31% ten-year growth rate\n\nThe supply of data scientists remains painfully low compared to the outrageous demand. YOU can help close the gap while launching a fulfilling, secure, and high-paying career – one of the very best in the country!\nEmployers are scrambling to find talent due to a lack of qualified applicants. YOU can help fill the gap while future-proofing your skillset. Have the flexibility, security, and salary that you’ve always wanted in a career.\nAre you ready to launch your career in tech? Apply today so our admissions team can save your seat and get your name on the list. Our application can be found here.\xa0\nWant to experience Codeup early? Join one of our workshops to get an intro to a specific coding language, learn about our financing options, or maybe even code yourself a resume! All of our events can be located here.\xa0\nWe can’t wait to help you launch your career in tech!\n'

In [5]:
test_clean = basic_clean(test)
test_clean

'\ns we approach the end of anuary we wanted to look forward to our next start dates for all of our current programs\null tack eb evelopment  3722\null tack eb evelopment is the first program we built and also our most popular ouve asked and we listened ur next eb evelopment cohort will start on 372022 and is       \ns one of the most indemand jobs in the country software and web development is the tech career with the newest jobs n the  theres\n\n15 million developer jobs\n250000 of them remain open\na high growth rate of 13\n\n \nata cience  32222\nur first new ata cience class of 2022 starts onday 3222022 at our downtown campus at the ogue building\nhy consider pivoting careers to ata cience\n\n1 job in merica from 20162020 lassdoor\n650 increase in data science positions since 2012\nearly 12 million new jobs between 2019 and 2029\n31 tenyear growth rate\n\nhe supply of data scientists remains painfully low compared to the outrageous demand  can help close the gap while launching a fulfilling secure and highpaying career  one of the very best in the country\nmployers are scrambling to find talent due to a lack of qualified applicants  can help fill the gap while futureproofing your skillset ave the flexibility security and salary that youve always wanted in a career\nre you ready to launch your career in tech pply today so our admissions team can save your seat and get your name on the list ur application can be found here \nant to experience odeup early oin one of our workshops to get an intro to a specific coding language learn about our financing options or maybe even code yourself a resume ll of our events can be located here \ne cant wait to help you launch your career in tech\n'

### 2. Tokenize
Define a function named tokenize. It should take in a string and tokenize all the words in the string.

In [6]:
def tokenize(string):
    '''
    This function takes in a string and
    tokenizes the string; breaking them down into discrete units.
    '''
    # Create tokenizer.
    tokenizer = nltk.tokenize.ToktokTokenizer()
    
    # Use tokenizer
    string = tokenizer.tokenize(string, return_str = True)
    
    return string

In [7]:
test_tokenize = tokenize(test_clean)
test_tokenize

's we approach the end of anuary we wanted to look forward to our next start dates for all of our current programs\null tack eb evelopment 3722\null tack eb evelopment is the first program we built and also our most popular ouve asked and we listened ur next eb evelopment cohort will start on 372022 and is \ns one of the most indemand jobs in the country software and web development is the tech career with the newest jobs n the theres\n\n15 million developer jobs\n250000 of them remain open\na high growth rate of 13\n\n \nata cience 32222\nur first new ata cience class of 2022 starts onday 3222022 at our downtown campus at the ogue building\nhy consider pivoting careers to ata cience\n\n1 job in merica from 20162020 lassdoor\n650 increase in data science positions since 2012\nearly 12 million new jobs between 2019 and 2029\n31 tenyear growth rate\n\nhe supply of data scientists remains painfully low compared to the outrageous demand can help close the gap while launching a fulfilling secure and highpaying career one of the very best in the country\nmployers are scrambling to find talent due to a lack of qualified applicants can help fill the gap while futureproofing your skillset ave the flexibility security and salary that youve always wanted in a career\nre you ready to launch your career in tech pply today so our admissions team can save your seat and get your name on the list ur application can be found here \nant to experience odeup early oin one of our workshops to get an intro to a specific coding language learn about our financing options or maybe even code yourself a resume ll of our events can be located here \ne cant wait to help you launch your career in tech'

### 3. Stem
Define a function named stem. It should accept some text and return the text after applying stemming to all the words.

In [8]:
def stem(text):
    '''This function accepts text and returns the stemmed text.
    '''
    # create the stemmer
    ps = nltk.porter.PorterStemmer()
    
    # apply the stemming transformation to all the words in the text using split
    stems = [ps.stem(word) for word in text.split()]
    
    # join the list of words into a string again assigned to the variable article_stemmed
    text_stemmed = ' '.join(stems)
    
    return text

In [9]:
test_stem = stem(test_tokenize)
test_stem

's we approach the end of anuary we wanted to look forward to our next start dates for all of our current programs\null tack eb evelopment 3722\null tack eb evelopment is the first program we built and also our most popular ouve asked and we listened ur next eb evelopment cohort will start on 372022 and is \ns one of the most indemand jobs in the country software and web development is the tech career with the newest jobs n the theres\n\n15 million developer jobs\n250000 of them remain open\na high growth rate of 13\n\n \nata cience 32222\nur first new ata cience class of 2022 starts onday 3222022 at our downtown campus at the ogue building\nhy consider pivoting careers to ata cience\n\n1 job in merica from 20162020 lassdoor\n650 increase in data science positions since 2012\nearly 12 million new jobs between 2019 and 2029\n31 tenyear growth rate\n\nhe supply of data scientists remains painfully low compared to the outrageous demand can help close the gap while launching a fulfilling secure and highpaying career one of the very best in the country\nmployers are scrambling to find talent due to a lack of qualified applicants can help fill the gap while futureproofing your skillset ave the flexibility security and salary that youve always wanted in a career\nre you ready to launch your career in tech pply today so our admissions team can save your seat and get your name on the list ur application can be found here \nant to experience odeup early oin one of our workshops to get an intro to a specific coding language learn about our financing options or maybe even code yourself a resume ll of our events can be located here \ne cant wait to help you launch your career in tech'

In [10]:
pd.Series(test_stem.split()).value_counts().head(20)

the           15
of            11
to            11
our            8
and            8
in             7
a              6
can            5
career         5
your           5
jobs           4
we             4
cience         3
evelopment     3
is             3
tech           3
ata            3
ur             3
eb             3
one            3
dtype: int64

### 4. Lemmatize
Define a function named lemmatize. It should accept some text and return the text after applying lemmatization to each word.

In [11]:
def lemmatize(text):
    '''This function takes in a string and returns 
    a string with the words lemmatized.
    '''
    
    # create the lemmatizer
    wnl = nltk.stem.WordNetLemmatizer()

    lemmas = [wnl.lemmatize(word) for word in text.split()]
    
    text_lemmatized = ' '.join(lemmas)
    
    
    return text

In [12]:
test_lemmatize = lemmatize(test_stem)
test_lemmatize

's we approach the end of anuary we wanted to look forward to our next start dates for all of our current programs\null tack eb evelopment 3722\null tack eb evelopment is the first program we built and also our most popular ouve asked and we listened ur next eb evelopment cohort will start on 372022 and is \ns one of the most indemand jobs in the country software and web development is the tech career with the newest jobs n the theres\n\n15 million developer jobs\n250000 of them remain open\na high growth rate of 13\n\n \nata cience 32222\nur first new ata cience class of 2022 starts onday 3222022 at our downtown campus at the ogue building\nhy consider pivoting careers to ata cience\n\n1 job in merica from 20162020 lassdoor\n650 increase in data science positions since 2012\nearly 12 million new jobs between 2019 and 2029\n31 tenyear growth rate\n\nhe supply of data scientists remains painfully low compared to the outrageous demand can help close the gap while launching a fulfilling secure and highpaying career one of the very best in the country\nmployers are scrambling to find talent due to a lack of qualified applicants can help fill the gap while futureproofing your skillset ave the flexibility security and salary that youve always wanted in a career\nre you ready to launch your career in tech pply today so our admissions team can save your seat and get your name on the list ur application can be found here \nant to experience odeup early oin one of our workshops to get an intro to a specific coding language learn about our financing options or maybe even code yourself a resume ll of our events can be located here \ne cant wait to help you launch your career in tech'

In [13]:
pd.Series(test_lemmatize.split()).value_counts().head(10)

the       15
of        11
to        11
our        8
and        8
in         7
a          6
can        5
career     5
your       5
dtype: int64

### 5. Stopwords
Define a function named remove_stopwords. It should accept some text and return the text after removing all the stopwords.

This function should define two optional parameters, extra_words and exclude_words. These parameters should define any additional stop words to include, and any words that we don't want to remove.

In [14]:
def remove_stopwords(text, extra_words = [], exclude_words = []):
    
    '''
    This function takes in text, optional extra_words and exclude_words
    with default empty lists and returns the text.
    '''
    
    # assign stopwords from nltk into stopword_list
    stopword_list = stopwords.words('english')
    # remove excluded words using set
    stopword_list = set(stopword_list) - set(exclude_words)
    # add extra words to the set using union
    stopword_list = stopword_list.union(set(extra_words))

    # split the text by spaces
    words = text.split()
    # assign filtered words as any word in the text that is not in the stopwords list
    filtered_words = [word for word in words if word not in stopword_list]

    # join the filtered list back with the spaces
    text_without_stopwords = ' '.join(filtered_words)

    print('Removed {} stopwords'.format(len(words) - len(filtered_words)))
    print('---')

    print(text_without_stopwords)
    
    
    return text_without_stopwords

In [15]:
extra_words = []
exclude_words = ['to']

In [16]:
'''
stopword_list = stopwords.words('english')
stopword_list
'''

"\nstopword_list = stopwords.words('english')\nstopword_list\n"

In [17]:
# remove_stopwords('I love the langague python')

In [18]:
test_remove_stopwords = remove_stopwords(test_lemmatize, exclude_words= exclude_words)#.split()).value_counts().head()
test_remove_stopwords

Removed 106 stopwords
---
approach end anuary wanted to look forward to next start dates current programs ull tack eb evelopment 3722 ull tack eb evelopment first program built also popular ouve asked listened ur next eb evelopment cohort start 372022 one indemand jobs country software web development tech career newest jobs n theres 15 million developer jobs 250000 remain open high growth rate 13 ata cience 32222 ur first new ata cience class 2022 starts onday 3222022 downtown campus ogue building hy consider pivoting careers to ata cience 1 job merica 20162020 lassdoor 650 increase data science positions since 2012 early 12 million new jobs 2019 2029 31 tenyear growth rate supply data scientists remains painfully low compared to outrageous demand help close gap launching fulfilling secure highpaying career one best country mployers scrambling to find talent due to lack qualified applicants help fill gap futureproofing skillset ave flexibility security salary youve always wanted career ready to launch career tech pply today admissions team save seat get name list ur application found ant to experience odeup early oin one workshops to get intro to specific coding language learn financing options maybe even code resume events located e cant wait to help launch career tech

'approach end anuary wanted to look forward to next start dates current programs ull tack eb evelopment 3722 ull tack eb evelopment first program built also popular ouve asked listened ur next eb evelopment cohort start 372022 one indemand jobs country software web development tech career newest jobs n theres 15 million developer jobs 250000 remain open high growth rate 13 ata cience 32222 ur first new ata cience class 2022 starts onday 3222022 downtown campus ogue building hy consider pivoting careers to ata cience 1 job merica 20162020 lassdoor 650 increase data science positions since 2012 early 12 million new jobs 2019 2029 31 tenyear growth rate supply data scientists remains painfully low compared to outrageous demand help close gap launching fulfilling secure highpaying career one best country mployers scrambling to find talent due to lack qualified applicants help fill gap futureproofing skillset ave flexibility security salary youve always wanted career ready to launch career tech pply today admissions team save seat get name list ur application found ant to experience odeup early oin one workshops to get intro to specific coding language learn financing options maybe even code resume events located e cant wait to help launch career tech'

In [19]:
pd.Series(test_remove_stopwords.split()).value_counts().head(10)

to            11
career         5
jobs           4
help           3
evelopment     3
eb             3
ur             3
ata            3
one            3
cience         3
dtype: int64

In [20]:
pd.Series(remove_stopwords(test_lemmatize, exclude_words= exclude_words).split()).value_counts().head()

Removed 106 stopwords
---
approach end anuary wanted to look forward to next start dates current programs ull tack eb evelopment 3722 ull tack eb evelopment first program built also popular ouve asked listened ur next eb evelopment cohort start 372022 one indemand jobs country software web development tech career newest jobs n theres 15 million developer jobs 250000 remain open high growth rate 13 ata cience 32222 ur first new ata cience class 2022 starts onday 3222022 downtown campus ogue building hy consider pivoting careers to ata cience 1 job merica 20162020 lassdoor 650 increase data science positions since 2012 early 12 million new jobs 2019 2029 31 tenyear growth rate supply data scientists remains painfully low compared to outrageous demand help close gap launching fulfilling secure highpaying career one best country mployers scrambling to find talent due to lack qualified applicants help fill gap futureproofing skillset ave flexibility security salary youve always wanted career ready to launch career tech pply today admissions team save seat get name list ur application found ant to experience odeup early oin one workshops to get intro to specific coding language learn financing options maybe even code resume events located e cant wait to help launch career tech

to            11
career         5
jobs           4
help           3
evelopment     3
dtype: int64

### 6. dataframe news_df
Use your data from the acquire to produce a dataframe of the news articles. Name the dataframe news_df.

In [21]:
news_df = acquire.get_news_articles()
news_df.head()

Getting articles for business
Getting articles for sports
Getting articles for entertainment
Getting articles for technology

,category,title,content,author,published
0,business,Apple delays plan requiring employees to come ...,Apple has delayed its plan that required its e...,Pragya Swastik,2022-05-18T10:17:10.000Z
1,business,"Price of domestic LPG cylinder crosses ₹1,000-...",The price of a 14.2-kg domestic LPG cylinder w...,Apaar Sharma,2022-05-19T04:23:45.000Z
2,business,Wheat shouldn't go the way of COVID-19 vaccine...,"Calling out the West, India said that wheat sh...",Apaar Sharma,2022-05-19T03:56:52.000Z
3,business,Rupee closes at a new all-time low of 77.58 ag...,The Indian rupee closed at a new all-time low ...,Anmol Sharma,2022-05-18T11:11:34.000Z
4,business,Investors lose ₹7 lakh crore as Sensex crashes...,The wealth of investors tumbled by ₹7 lakh cro...,Pragya Swastik,2022-05-19T12:20:09.000Z

### 7. codeup_df
Make another dataframe for the Codeup blog posts. Name the dataframe codeup_df.

In [22]:
codeup_df = acquire.get_blog_articles(acquire.urls)
codeup_df.head()

,title,published,contents
0,Codeup Start Dates for March 2022,"Jan 26, 2022",\nAs we approach the end of January we wanted ...
1,5 Books Every Woman In Tech Should Read,"Mar 8, 2022",\nOn this International Women’s Day 2022 we wa...
2,Dallas Campus Re-opens With New Grant Partner,"Dec 30, 2021",\n\n\n\n\n\nWe are happy to announce that our ...
3,Codeup’s Placement Team Continues Setting Records,"Nov 19, 2021",\n\n\n\n\n\nOur Placement Team is simply defin...
4,"IT Certifications 101: Why They Matter, and Wh...","Nov 18, 2021","\n\n\n\n\n\nAWS, Google, Azure, Red Hat, CompT..."

In [23]:
codeup_df = codeup_df.rename(columns={'contents':'original'})
codeup_df.head()

,title,published,original
0,Codeup Start Dates for March 2022,"Jan 26, 2022",\nAs we approach the end of January we wanted ...
1,5 Books Every Woman In Tech Should Read,"Mar 8, 2022",\nOn this International Women’s Day 2022 we wa...
2,Dallas Campus Re-opens With New Grant Partner,"Dec 30, 2021",\n\n\n\n\n\nWe are happy to announce that our ...
3,Codeup’s Placement Team Continues Setting Records,"Nov 19, 2021",\n\n\n\n\n\nOur Placement Team is simply defin...
4,"IT Certifications 101: Why They Matter, and Wh...","Nov 18, 2021","\n\n\n\n\n\nAWS, Google, Azure, Red Hat, CompT..."

8.For each dataframe, produce the following columns:

- title to hold the title
- original to hold the original article/post content
- clean to hold the normalized and tokenized original with the stopwords removed.
- stemmed to hold the stemmed version of the cleaned data.
- lemmatized to hold the lemmatized version of the cleaned data.

In [24]:
def prep_article_data(df, column, extra_words =[], exclude_words=[]):
    '''
    This function takes in a dataframe, and the string name for a column with an option to
    pass extra_word and exclude_word lists. It returns a dataframe with the text title,
    original text, cleaned text with stop words removed which has had tokenization applied to it, 
    stemmed, text, and lemmatized text.
    '''
    
    df['clean'] = df[column].apply(basic_clean)\
                                   .apply(tokenize)\
                                   .apply (remove_stopwords, 
                                           extra_words = extra_words, 
                                           exclude_words= exclude_words)
    df['stemmed'] = df['clean'].apply(stem)
    df['lemmatized'] = df['clean'].apply(lemmatize)

    return df[['title', column, 'clean', 'stemmed', 'lemmatized']]

In [25]:
prep_article_data(codeup_df, 'original', extra_words = ['ha'], exclude_words = ['no']).head()

Removed 117 stopwords
---
approach end anuary wanted look forward next start dates current programs ull tack eb evelopment 3722 ull tack eb evelopment first program built also popular ouve asked listened ur next eb evelopment cohort start 372022 one indemand jobs country software web development tech career newest jobs n theres 15 million developer jobs 250000 remain open high growth rate 13 ata cience 32222 ur first new ata cience class 2022 starts onday 3222022 downtown campus ogue building hy consider pivoting careers ata cience 1 job merica 20162020 lassdoor 650 increase data science positions since 2012 early 12 million new jobs 2019 2029 31 tenyear growth rate supply data scientists remains painfully low compared outrageous demand help close gap launching fulfilling secure highpaying career one best country mployers scrambling find talent due lack qualified applicants help fill gap futureproofing skillset ave flexibility security salary youve always wanted career ready launch career tech pply today admissions team save seat get name list ur application found ant experience odeup early oin one workshops get intro specific coding language learn financing options maybe even code resume events located e cant wait help launch career tech
Removed 441 stopwords
---
n nternational omens ay 2022 wanted tell stories women tech hat better way celebrate female authors hese women written phenomenal books tech space tell stories hese women walked walk tech world andor offered unique perspectives women tech women workplace list goes no particular order believe add kindle book library asap ou click book image take purchase page mazon ets dive list eset ight nclusion asting hange llen ao rom books description mazon n 2015 llen ao sued powerhouse ilicon alley venture capital firm calling workplace discrimination retaliation women underrepresented groups er suit rocked tech worldand exposed toxic culture homogeneity er message overcame negative attacks took aim professional conduct personal life widespread public supportime hailed face change hough ao lost suit revolutionized conversation tech offices media around world n eset tells full story first time emale nnovators ork omen op ech anielle ewnham rom books description mazon book describes experiences successes female innovators entrepreneurs still largely maledominated tech world twenty candid interviews highlights varied life career stories lead women top positions technology industry nterviewees include founders inventors wide spectrum tech organizations across sectors varied mobile technology ecommerce online education video games nterviewer anielle ewnham mobile startup ecommerce entrepreneur well online community organizer presents insights instructive anecdotes advice shared interviews including stories raising capital ones startup obstacles women encountered overcame echnically rong exist pps iased lgorithms ther hreats oxic ech ara achteroettcher rom books description mazon uying groceries tracking health finding date whatever want odds online ut us ask digital products designed ts time change services rely full oversights biases downright ethical nightmares hatbots harass women ignup forms fail anyone whos straight ocial media sites send peppy messages dead relatives lgorithms put black people behind bars echnically rong takes unflinching look values processes assumptions lead problems achteroettcher demystifies tech industry leaving us side screen better prepared make informed choices services use demand companies behind rotopia reaking p oys lub ilicon alley mily hang rom books description mazon ilicon alley fantasyland unicorns virtual reality rainbows 3printed lollipops women tech nstead rotopia men hold cards make rules hile millions dollars may seem grow trees land innovation techs aggressive misogynistic workatall costs culture shut women greatest wealth creation history world rotopia reveals ilicon alley got sexist despite utopian ideals bro culture endures even companies claim moral high ground women speaking fighting back rawing deep network ilicon alley insiders hang opens boardroom doors maledominated venture capital firms like leiner erkins subject llen aos highprofile gender discrimination lawsuit equoia partner famously said wont lower standards hire women xposing flawed logic common excuses tech long suffered pipeline problem invests delusion meritocracy rotopia also shows bias coded internet troll culture reliance pattern recognition harms women tech us unprecedented scale ife ode ersonal istory echnology llen llman rom books description mazon last twenty years brought us rise internet development artificial intelligence ubiquity unimaginably powerful computers thorough transformation economy society hrough llen llman lived worked inside rising culture technology ife ode tells continuing story changes wrought unique expert perspective hen llen llman moved rancisco early 1970s went become computer programmer joining small idealistic almost exclusively male cadre aspired genuinely change world n 1997 llman wrote lose achine classic still definitive account life coder birth would sweeping technological cultural financial revolution wenty years later story llman recounts neither one unbridled triumph nostalgic denial progress necessarily story digital technologys loss innocence entered cultural mainstream personal reckoning changed much hasnt ife ode essential text toward understanding last twenty yearsand next twenty et us know thoughts list social media hat books authors add list future post woman interested launching career tech elp us close gender gap tech apply omen ech scholarship ou learn clicking e ata cience program starts 321 eb evelopment program starts 41 et us know questions submitting application reaching us admissionscodeupcom
Removed 92 stopwords
---
e happy announce allas campus reopened etter yet new grant partner fund 15000 tuition eligible students resident unemployed underemployed work affected 19 military veteran age 25 f follow steps seek 15000 tuition funding egister account wwwworkintexascom click ign select ption 3 reate ser ccount ind nearest orkforce enter residence using tool ttend information session sessions occur different times different locations ontact local center information registering ork exas elect odeup program training notify tuitioncodeupcom progress ur next eb evelopment class starts anuary 31st 2022 first class inperson two years andson experience learning sidebyside fellow classmates experience hard duplicate virtually 19 protocols place keep students staff safe attending campus person ready start new career ew ear eats limited apply email admissionscodeupcom info
Removed 173 stopwords
---
ur lacement eam simply defined group manages relationships employer partners graduating students help get graduating students hired ast quarter lacement eam helped 48 students get hired lifechanging careers tech ast month lacement eam already placed 40 students top tech companies want send huge thank lacement eam mployer artners done tremendous job helping odeup empower life change students ho exactly got hired heck list irsten ollier hired ava eveloper ichael aker hired ava eveloper ichael roia hired ssociate onsulting ngineer arlos adilla hired ava eveloper ictor ernandez hired nderson arketing roup ava eveloper icholas artinez hired eggazza oftware ngineer ordan elan hired eggazza oftware ngineer avannah arcia hired ava eveloper icardo igueroa hired ava eveloper emetrio ovar hired ava eveloper aul artinez hired ava eveloper rachi hatak hired lo oftware ngineer esse osaeffew hired ava eveloper mado zua hired ava eveloper rady riffin hired owardpro oftware eveloper tephen guyen hired ilotech roup ssociate oftware eveloper oshua orreli hired ilotech roup ssociate oftware eveloper rik yalasga hired ccenture ederal ava eveloper hristopher spinoza hired ilotech roup ssociate oftware eveloper orey haw hired ava eveloper amuel owcut hired ilotech roup ssociate oftware eveloper ean ewis hired ccenture ederal oftware ngineering ssociate obert ledge hired ccenture ederal oftware ngineering ssociate atthew alker hired ccenture ederal oftware ngineering ssociate atthew alton hired racle eveloper ustin artinez hired ccenture ederal oftware ngineering ssociate elvon ointeratterson hired ccenture ederal ava eveloper ssociate enyon uce hired ccenture ederal ava eveloper ssociate uan arcia hired ccenture ederal oftware ngineering ssociate lexander ernandovitia hired ccenture ederal oftware ngineering ssociate ohn ierce hired ccenture ederal oftware ngineering ssociate avid agnon hired ocial olutions ssociate oftware ngineer van illiams hired ocial olutions ssociate oftware ngineer ose arcus hired ccenture ederal oftware ngineering ssociate avid ulver hired ccenture ederal oftware ngineering ssociate ustin hitley hired ccenture ederal oftware ngineering ssociate nna u hired parrow artners ata cientist oberty urphy hired one tar nalysis nalysis rofessional indy illanueva hired olorado ommunity anaged etwork ata ngineer otchell igue hired ull tack eveloper urious like hire odeup graduate heck hiring process ant land life changing career like students heck list programs offered
Removed 251 stopwords
---
oogle zure ed ompthese big names nd products also certifications offer f youre new tech might wondering certifications really matter elcome ertifications 101 hats tldr ertifications critical getting past certain roles wont get job hat ertifications ertifications official credentials given companies institutions vendors verify demonstrated specific knowledge skill hey stamp approval known brand like mazon saying person knows stuff erts used lot industries including technology ven within tech dozens vendors hundreds certs hy ertifications matter employers roles including security system administration networking require certain certs make door interview process filter matters several reasons helps narrow pool applicants establishes baseline shared knowledge experience across applicants expedites process employers dont spend much time vetting basic technical skills hy matter btaining certs provide number benefits ou show recruiter searches inkedn ou follow specific concrete paths career development ou obtain industryrecognized respected transferable credentials relevant whole career ou develop relevant broadbase content knowledge ou able pass initial screenings land seat interview hy matter employers end day certifications pieces paper hey represent ability pass test job ometimes things one usually different ertifications like entrance fee get tournament still need fight way top nd youre standing ring better know fight degree fighting dditionally jobs within tech care certifications example technically ava programming certification racle almost never required considered job applications tests specific abnormal academic concepts dont apply realworld software development f erts matter dont matter odeup like think training ertifications get certifications handson experience eres quick way think mazon eb ervices basic certifications called loud ractitioner olutions rchitect ssociate official mazon training certs 1 week 4 days training 1 day exam readiness 1week schedule present mostly everything need pass certification exam go cram memorize get ready nce pass youll cert youll paper tiger bark no bite n words youll appear knowledgeable skillful paper reality wont experience knowhow completing real work lternatively odeup spends 5 weeks combining exam study handson practice hat way talk talk walk walk f want learn certification training paths reach us infocodeupcom

,title,original,clean,stemmed,lemmatized
0,Codeup Start Dates for March 2022,\nAs we approach the end of January we wanted ...,approach end anuary wanted look forward next s...,approach end anuary wanted look forward next s...,approach end anuary wanted look forward next s...
1,5 Books Every Woman In Tech Should Read,\nOn this International Women’s Day 2022 we wa...,n nternational omens ay 2022 wanted tell stori...,n nternational omens ay 2022 wanted tell stori...,n nternational omens ay 2022 wanted tell stori...
2,Dallas Campus Re-opens With New Grant Partner,\n\n\n\n\n\nWe are happy to announce that our ...,e happy announce allas campus reopened etter y...,e happy announce allas campus reopened etter y...,e happy announce allas campus reopened etter y...
3,Codeup’s Placement Team Continues Setting Records,\n\n\n\n\n\nOur Placement Team is simply defin...,ur lacement eam simply defined group manages r...,ur lacement eam simply defined group manages r...,ur lacement eam simply defined group manages r...
4,"IT Certifications 101: Why They Matter, and Wh...","\n\n\n\n\n\nAWS, Google, Azure, Red Hat, CompT...",oogle zure ed ompthese big names nd products a...,oogle zure ed ompthese big names nd products a...,oogle zure ed ompthese big names nd products a...

In [28]:
news_df = news_df.rename(columns={'content':'original'})
news_df.head()

,category,title,original,author,published
0,business,Apple delays plan requiring employees to come ...,Apple has delayed its plan that required its e...,Pragya Swastik,2022-05-18T10:17:10.000Z
1,business,"Price of domestic LPG cylinder crosses ₹1,000-...",The price of a 14.2-kg domestic LPG cylinder w...,Apaar Sharma,2022-05-19T04:23:45.000Z
2,business,Wheat shouldn't go the way of COVID-19 vaccine...,"Calling out the West, India said that wheat sh...",Apaar Sharma,2022-05-19T03:56:52.000Z
3,business,Rupee closes at a new all-time low of 77.58 ag...,The Indian rupee closed at a new all-time low ...,Anmol Sharma,2022-05-18T11:11:34.000Z
4,business,Investors lose ₹7 lakh crore as Sensex crashes...,The wealth of investors tumbled by ₹7 lakh cro...,Pragya Swastik,2022-05-19T12:20:09.000Z

In [29]:
prep_article_data(news_df, 'original', extra_words = ['ha'], exclude_words = ['no']).head()

Removed 25 stopwords
---
pple delayed plan required employees come office three days week according memo seen loomberg pple said requirement delayed time without providing new date technology company still requires employees come office two days week
Removed 26 stopwords
---
price 142kg domestic cylinder hiked 350 hursday second move month ith cost cylinder crosses 1000mark according ith price rise domestic cylinder cost 1003 elhi umbai 1029 olkata 10185 hennai today
Removed 28 stopwords
---
alling est ndia said wheat go way 19 vaccines voiced concern hoarding discrimination amid unjustified increase food prices necessary us adequately appreciate importance equity affordability accessibility comes food grains ndia said
Removed 21 stopwords
---
ndian rupee closed new alltime low 7758 dollar ednesday ndian rupee closed 7747 dollar uesday eanwhile stock market slipped red halting twoday upward trend ensex settled 54209 points ifty stood 16240 points
Removed 23 stopwords
---
wealth investors tumbled 7 lakh crore hursday market ' key indices ensex ifty tumbled 25 hile ensex closed 1416 points lower settle 52792 ifty ended 431 points lower 15809 key indices fell overnight selloff treet worst two years
Removed 21 stopwords
---
ndian rupee closed new alltime low 7772 dollar hursday marked fifth record weak close rupee last 10 trading sessions ndian rupee ' value weighed marketwide selloff equities foreign fund outflows
Removed 22 stopwords
---
ndio ednesday announced appointment ieter lbers airline ' subject regulatory approvals 52yearold join ndio ctober 1 2022 succeed 71yearold onojoy utta decided retire eptember 30 2022 ince 2014 lbers served resident oyal utch irlines
Removed 21 stopwords
---
ensex tanked 1416 points hursday close 52792 ifty tanked 431 points close 15809 benchmark indices fell following heavy losses treet overnight stocks worst hit shares nfosys tanking 5
Removed 15 stopwords
---
omestic equity market benchmarks ensex ifty tumbled nearly 2 early trade hursday ensex tanked 1000 points giving 54000 level ifty plunged 300 points giving 16000 arring ensex shares opened red today eanwhile ndian rupee opened 11 paise lower 7769 dollar
Removed 21 stopwords
---
shares merican department store chain arget crashed 26 ednesday track log worst day since 1987 ' ' lack onday ' stock market crash arget ' shares slumped reported 52 drop profit 1 2022 arget also warned bigger margin hit year due rising fuel freight costs
Removed 21 stopwords
---
lon usk lost 12 billion day took witter announce political switch emocrat epublican criticised nvironmental ocial overnance usk remains world ' richest person fortune around 210 billion according loomberg illionaires ndex usk called emocrats party division hate
Removed 15 stopwords
---
ndia ' richest man autam dani entered healthcare sector dani nterprises ' whollyowned subsidiary ' dani ealth entures imited ' subsidiary incorporated ay 17 2022 carry business healthcarerelated activities filing said activities include medical diagnostic facilities health aids health techbased facilities among others
Removed 22 stopwords
---
roup inisters tasked review levy casinos racecourses online gaming finalised report reportedly favours 28 tax three services final report panel led eghalaya onrad angma handed inance inister irmala itharaman day two urrently services attract 18
Removed 22 stopwords
---
atan ata tweeted e would like express grateful appreciation judgement passed upheld upreme ourt today e added reinforces value system ethics judiciary ata ' tweet came upreme ourt dismissed review petition filed yrus istry ' hapoorji allonji roup istry ' removal ata ons head
Removed 20 stopwords
---
500 removed esla ndex part annual update citing issues including claims racial discrimination poor working conditions esla esponding exclusion esla lon usk said scam weaponised phoney social justice warriors lobal atings lost integrity added
Removed 19 stopwords
---
rk nvest ' athie ood response esla cut 500 ndex said idiculous ot worthy response esponding ood usk wrote clear case wacktivism hat love wacktivists incredible sense humour wrote another tweet later
Removed 24 stopwords
---
tellantis arlos avares said western automakers profitable ndia things ndia way e added amid global disruption urope hina ndia bigger opportunity grow global automotive industry well within tellantis firm launching first ndia next year
Removed 23 stopwords
---
ife nsurance orporation ' share price fell 412 84025 hursday taking total drop ' share price 1145 issue price insurer ' shares listed stock market uesday price 867 issue price 949 21000crore public issue oversubscribed nearly three times
Removed 20 stopwords
---
x overnor ubbarao ednesday said criticism behind delayed interest rate hike unfair ith credit growth currently around 910 recent repo rate hike unlikely transmit strongly ubbarao said nlike large economies ndia structurally supplyconstrained safety valve ndia stagflation added
Removed 22 stopwords
---
upreme ourt hursday dismissed plea filed hapoorji allonji roup seeking review court ' earlier order approving removal yrus istry xecutive hairman irector ata ons arch 2021 order upreme ourt overturned order reinstated istry ata ons ' xecutive hairman irector
Removed 16 stopwords
---
onsumer price inflation nited ingdom reached 9 pril 2022 highest level since 1982 ritish inance inister ishi unak said countries around world hit high inflation jump inflation reflected increase regulated energy tariffs e cannot protect people completely global challenges unak said
Removed 23 stopwords
---
ata onsumer roducts food beverage arm ata roup talks acquire many five consumer brands significant amount umbaibased firm ' future growth come inorganic expansion unil ' ouza said e ' reaching potential targets chat see interest ' ouza added
Removed 19 stopwords
---
giant imited ednesday reported 117 rise consolidated net profit 4196 crore 4 22 3755 crore reported 4 21 onsolidated revenue 4 22 came 17754 crore 153 rise 15404 crore ' consolidated revenue 22 jumped 15243 crore 65205 crore respectively
Removed 18 stopwords
---
resident oko idodo hursday said ndonesia ' palm oil export ban lifted ay 23 following supply improvements export ban imposed government pril 28 order tame soaring domestic cooking oil prices decision taken considering welfare 17 million workers palm oil industry resident idodo said
Removed 20 stopwords
---
uchi oya ednesday said ' acquiring atanjali yurved ' food retail business amount consideration 690 crore ostacquisition uchi oya called ' atanjali oods ' acquire atanjali yurved ' manufacturing plants adartha ttarakhand ewasa aharashtra n 2019 aba amdev ' atanjali acquired uchi oya insolvency process
Removed 16 stopwords
---
ucknow uper iants opener uinton e ock ednesday recorded highest individual score 2022 scoring 14070 olkata night iders e ock smashed 10 sixes 10 fours innings also thirdhighest individual score history hris ayle ' 175 rendon cullum ' 158
Removed 17 stopwords
---
ucknow uper iants ednesday recorded highestever opening partnership history uinton e ock ahul shared unbeaten 210run stand set record previous record held onny airstow avid arner shared 185run opening stand arch 31 2019
Removed 25 stopwords
---
xndia head coach avi hastri said give central contract fast bowler mran alik straight away ' let float aroundkeep mix main players let learn around hamis umrahs hastri added 22yearold cricketer fastest bowler 2022
Removed 24 stopwords
---
mentor autam ambhir ' angry celebration team ' tworun victory gone viral ambhir seen banging table inku ingh ' wicket secondlast ball last fter clinched win dismissing mesh adav last ball ambhir seen screaming hugging colleagues animated manner
Removed 20 stopwords
---
vicecaptain ashid han took nstagram share video ' irat ohli latter gifted bat ahead 2022 clash lways pleasure meeting youhank gift ashid wrote ommenting ashid ' post pacer azalhaq arooqi wrote wo kings cricket eanwhile presenter rin olland wrote uperstars
Removed 19 stopwords
---
ifthplaced face 2022 tonight worst net runrate among teams still contention playoffs spots go fourth table win owever ' need defeat advance f defeat would likely fail qualify due inferior net runrate
Removed 17 stopwords
---
captain ahul toss elected bat first last league stage clash 2022 ednesday made three changes playing anan ohra vin ewis rishnappa owtham replacing yush adoni ushmantha hameera runal andya replaced jinkya ahane bhijeet omar
Removed 23 stopwords
---
' inku ingh teared team lost two runs failed qualify 2022 playoffs eeding 21 runs win last inku slammed 18 runs first four deliveries getting caught fifth ball dismissed mesh adav last ball win match
Removed 26 stopwords
---
xndia opener irender ehwag recent interview said ourav anguly built new team captaincy brought new players backed highs lows doubt ohli tenure added ehwag said ohlis captaincy trend change team almost every est
Removed 23 stopwords
---
defeated two runs final league match 2022 become second team qualify playoffs ith defeat eliminated playoffs race put total 2100 uinton e ock scoring 14070 restricted 2088 20 overs
Removed 21 stopwords
---
ndefeated boxer usa amak died age 38 collapsing ring aturday facing ganda ' amza andera unich e lost compatriot usa skan amak boxer lucra uropean sian championships young age heart attack urkish official asan uran announced
Removed 23 stopwords
---
ussian gymnast van uliak given oneyear ban wearing ' ' national war symbol podium pparatus orld atar arch uliak earned bronze parallel bars final displayed letter ' ' taped chest stood next gold medallist kraine ' llia ovtun e ' also return medal
Removed 17 stopwords
---
ormer ustralia omen coach atthew ott appointed head coach ngland men ' whiteball cricket team e appointed contract four years nder ott ustralia omen consecutive 20 orld ups one 50over orld went four shes series undefeated also set world record consecutive victories 26
Removed 16 stopwords
---
ndian boxer ikhat areen defeated razil ' aroline e lmeida enter 52kg category final omen ' orld oxing hampionships 2022 eanwhile anisha oun bagged bronze medal losing semifinal okyo lympics bronze medallist rma esta n 63kg category arveen ooda bagged bronze losing uropean hampionships bronze medallist roadhurst
Removed 19 stopwords
---
ushfiqur ahim beaten amim qbal race reach 5000 est runs becoming first angladesh batter reach milestone ahim achieved feat 105run knock angladesh ' first innings first est ri anka e scored 5037 est runs amim scored 133 runs innings scored 4981 est runs
Removed 24 stopwords
---
ushfiqur ahim became first angladesh batter reach 5000 est runs said angladesh people compare radman scores century utwhen ' score runs feel like digging hole added referring criticism faces becoming cultureso younger players need support ahim stated
Removed 23 stopwords
---
head coach rendon cullum said franchise invest 24yearold batter inku ingh next years e see progressingot many people bat like inku able pull games fire cullum said inku scored 4015 included four sixes ednesday
Removed 26 stopwords
---
batter ahul ripathi scored 7644 uesday said enjoyed batting number three ' trying learn every situation n facing asprit umrah ripathi said umrah ' great bowlerand looking react whatever ' bowling epends wicket playing counterattack point
Removed 21 stopwords
---
x fast bowler ishop said pacer rshdeep ingh ' change pace length makes stand among young pacers ongoing season rshdeep good accuracy great feel knowing bowl type delivery explained ishop far rshdeep picked 10 wickets 13 games
Removed 28 stopwords
---
' huvneshwar umar interacting mran alik said luck 19th turned maiden felt yorker best option wicket prevent runscoringuckily deliveries landed good spot added needed 19 12 win huvneshwar bowled maiden
Removed 24 stopwords
---
xndia coach avi hastri said batter ahul ripathi far receiving ndia callup e added f someone gets injured guy slotted straight awayahul ripathi dangerous player mix hastri said f ' performing season season ' sure selectors watching
Removed 26 stopwords
---
xndia head coach avi hastri said captain hreyas yer give time score runs final league match ednesday hastri added undoubtedly target short balls ' show readiness hreyas ' top rungetter 351 runs 13 games
Removed 24 stopwords
---
ormer ustralia opener atthew ayden praised batter ahul ripathi stating 31yearold real potential go way international level ayden added e someone dangerous striker ball hit sides wicket ripathi scored third fifty 2022 uesday
Removed 21 stopwords
---
alking form ongoing season opener ishan said even best cricketers struggle point e added seen likes hris ayle taking time start hittingome day get good start day opposition bowlers come prepared scored 370 runs 13 games
Removed 19 stopwords
---
everal rights groups urged compensate atar ' migrant workers 440 million human rights abuses allegedly inflicted upon preparations 2022 orld mnesty nternational one rights groups demanded compensation remedy litany abuses committed since 2010 otably letter also sent resident ianni nfantino
Removed 25 stopwords
---
ctress ameera eddy took social media share pictures time going postpartum stress pics shared post show lowest ' feel happy however hard tried birth first child wrote ou alone ameera wrote post
Removed 27 stopwords
---
ctress mber eard ' sister hitney enriquez testifying ohnny epp ' defamation trial eard said epp grabbed mber hair whacked repeatedly face said witnessed fight penthouse arch 2015 claimed epp asked sign nondisclosure agreement incident
Removed 26 stopwords
---
istrict ealth fficer engaluru rban served notice r hetty ' osmetic linic connection 21yearold annada actress hethana aj ' death fat removal surgery hetty ' osmetic entre license run polyclinic dispensary procedure hey need submit written explanation incident officer said
Removed 23 stopwords
---
nforcement irectorate registered money laundering case actress hilpa hetty ' husband businessman aj undra connection production circulation pornography films undra arrested umbai olice 2021 allegedly running porn racket operations outside ndia well probe financial transaction pertaining case
Removed 26 stopwords
---
elugu actor ahesh abu trolled featuring pan masala brand ' advertisement last year alongside iger hroff comes comments wherein said ollywood ' afford ' funny aheshabu said ollywood ' afford ut pan masala brand person tweeted another witter user called double standards
Removed 26 stopwords
---
hen asked feels working star kids actress ara utaria said ost films star kids earlier generation actors ' right keep tagging star kids feel really unfair one actors ' worked ever made feel like outsider added
Removed 31 stopwords
---
ctress meesha atel reacted ahesh abu ' ' ollywood ' afford ' statement called innocent statement ' think meant harm blown proportion added e dignified lovely person ahesh abu no wrong concluded meesha ahesh featured ' aani '
Removed 30 stopwords
---
peaking journey industry actress labita orthakur said times well ' dotwo ads month would sorted nd ' ipstick nder urkha ' happened utthe film ' release three yearsand released thought ' surrounded offers ' happen added
Removed 28 stopwords
---
ecently video gone viral online court observer ' control laughter ohnny epp mber eard ' defamation trial video uesday mber questioned allegations assault exhusband epp man walked courtroom multiple objections epp ' attorney amille asquez
Removed 32 stopwords
---
ctress ishwarya ai achchan spoke ' appear regularly films said hat happened last two years natural pause took ' always someone keep real ' ' sense prioritising ' never focused ' hatkind perception might attract ' added
Removed 34 stopwords
---
ilmmaker hekhar apur said anneslike film festival held ndia next annes ndia ' ' know annes go e ' land stories west plateauingthe east rising e ' east ' step forward stated moment confidence added
Removed 22 stopwords
---
ctor ajraj ao play role 70yearold man erectile dysfunction filmmaker mtiaz li ' ' hai assage ' haring stills nstagram film ajraj ao wrote coming age 70yearold manah ariwar enjoy karein n photos senior actor seen dressed checked shirts mufflers
Removed 22 stopwords
---
fter oya khtars rchies reignited nepotism debate actor ulshan evaiah shared opinion e tweeted nepotism debate harnesses angstmany within outside indi entertainment industry serve interests use settle personal scores ilm production private business ts based merit ulshan added
Removed 25 stopwords
---
mber eard ' sister hitney enriquez alleged ohnny epp held dog car window incident back 2013 scared knew inebriated wasthe dog wassmall said recalled epp laughing bringing dog back hen made joke putting dog microwave added
Removed 25 stopwords
---
ctor rjun ampal speaking ' haakad ' costar angana anaut said angana go back really long time e ational wards together elhi kept meeting added peaking working angana ' haakad ' rjun said really fun working
Removed 30 stopwords
---
mber eard crossexamined ohnny epp ' lawyer asked scared mber replied man tried kill meit ' scary e ' also husband hile questioned couple ' fight ustralia arch 2015 mber denied assaulting epp country adding ' assault ohnny ever
Removed 20 stopwords
---
ate actor ajesh hanna actor mitabh achchan ' film ' nand ' remade original producer ippy ' grandson ameer aj ippy ikram hakhar peaking remaking original classic producer ameer aj ippy said stories like need narrated new generation eacting news one user wrote lease ' spoil film
Removed 31 stopwords
---
ctress amannaah hatia said believed ajid han ' ' immatwala ' much believed ajamouli ' ' aahubali ' ut one thing films ' think prepared either added amannaah stated learned job adding hat ' beauty actor ' discovering constantlyyou ' evolving constantly
Removed 29 stopwords
---
ctor ash spoke got rid inferiority complex evolved person son bus driver confident actor e said battle ' fight within eople might term smalltown boy sayyour nglish ' goodut feel allthis learnt added
Removed 17 stopwords
---
hailand star indy ishop recreated lia hatt ' white saree look ' angubai athiawadi ' aking nstagram shared video scene wrote eyondepic setscaptivating scenes stunning performances lia cast whichfascinatedmany us hailand film brings toforefront muchcontested arguments prostitution vs sex work added
Removed 19 stopwords
---
kraine ' resident olodymyr elenskyy uesday received standing ovation virtually addressed opening ceremony annes ilm estival n address elenskyy quoted harlie haplin ' film ' reat ictator ' saying ate men pass dictators die andpower took frompeople return topeople remarks came amid ussia ' invasion kraine
Removed 31 stopwords
---
' ex ity ' actress arah essica arker revealed ' spoken costar hris oth since sexual assault allegations sking reaction producer said ' tknow ' ready talk ' reacting producer e ' deeply saddened hear allegations arah costars said statement
Removed 22 stopwords
---
ctress riyanka hopra spoke said yes arhan khtar ' project ' ee e ara ' also stars actresses atrina aif lia hatt riyanka said atrina lia two top actresses country three us decided wanted movie together partner together produce riyanka said
Removed 26 stopwords
---
ctressproducer amita al spoke experience visiting annes ilm estival said red carpet amazing peaking meeting eepika adukone amita said eepika dressed amazing saree looking stunning saree tooe two people saree attracted lot attention
Removed 21 stopwords
---
uring recent interaction ouuber anmay hat actor artik aryan shown picture ishwarya ai hair tied high ponytail anmay reacted photo said look like riana rande artik replies ather riana looks like ishwarya ai eacting artik ' comment user wrote otally yes
Removed 25 stopwords
---

,title,original,clean,stemmed,lemmatized
0,Apple delays plan requiring employees to come ...,Apple has delayed its plan that required its e...,pple delayed plan required employees come offi...,pple delayed plan required employees come offi...,pple delayed plan required employees come offi...
1,"Price of domestic LPG cylinder crosses ₹1,000-...",The price of a 14.2-kg domestic LPG cylinder w...,price 142kg domestic cylinder hiked 350 hursda...,price 142kg domestic cylinder hiked 350 hursda...,price 142kg domestic cylinder hiked 350 hursda...
2,Wheat shouldn't go the way of COVID-19 vaccine...,"Calling out the West, India said that wheat sh...",alling est ndia said wheat go way 19 vaccines ...,alling est ndia said wheat go way 19 vaccines ...,alling est ndia said wheat go way 19 vaccines ...
3,Rupee closes at a new all-time low of 77.58 ag...,The Indian rupee closed at a new all-time low ...,ndian rupee closed new alltime low 7758 dollar...,ndian rupee closed new alltime low 7758 dollar...,ndian rupee closed new alltime low 7758 dollar...
4,Investors lose ₹7 lakh crore as Sensex crashes...,The wealth of investors tumbled by ₹7 lakh cro...,wealth investors tumbled 7 lakh crore hursday ...,wealth investors tumbled 7 lakh crore hursday ...,wealth investors tumbled 7 lakh crore hursday ...

9. Ask Yourself

- If your corpus is 493KB, would you prefer to use stemmed or lemmatized text?
     - Lemmatized text because it is a smaller dataset, and lemmatizing will result in more accurate identification of the 'meaning' of the word, identifying the lexicographically correct root word. 
- If your corpus is 25MB, would you prefer to use stemmed or lemmatized text?
    - It depends on the amount of time I have. Stemmed text could be better if short on time because it is a larger dataset, and lemmatizing, although it will result in more accurate identification of the 'meaning' of the word, it is considerably slower for larger datasets. However, if not short on time, I would want the most accurate results through lemmatized text. 
- If your corpus is 200TB of text and you're charged by the megabyte for your hosted computational resources, would you prefer to use stemmed or lemmatized text?
    - Stemmed text because it is a larger dataset, and lemmatizing, although it will result in more accurate identification of the 'meaning' of the word, it is considerably slower for larger datasets.